<html lang="en">

<div class='head'>
<head>
    <!-- website name -->
    <title>Chembddb-Insert</title>
    <!-- website heading -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <style>

    </style>
</head>

</div>
<body> 
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #005bbb;height:80px">

                <div class="collapse navbar-collapse" id="navbarNav">
                  <a href='/'>
                    <img src='../static/chembddb_logo.png' alt='logo' style='width:130px;background-color:#ffffff;float: right;
                    height: 80px;'>
                  </a>
                  <ul class="navbar-nav" style="margin-top: 15px;">
                    <li class="nav-item ">
                      <a class="nav-link" style="color:#ffffff;font-family:Exo;" >Connect </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/setup' style="color:#ffffff;font-family:Exo;" target='_blank'>Create</a>
                      </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="color:#ffffff;font-family:Exo;" >Insert <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href='/search' style="color:#ffffff;font-family:Exo;" target='_blank'>Search  </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href='/delete' style="color:#ffffff;font-family:Exo;" target='_blank'>Delete</a>
                  </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#ffffff;font-family:Exo;" >
                          All Databases
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {% for adbs in all_dbs %}
                          <a class="dropdown-item" style="font-family:Exo;" href="#">{{adbs[0]}}</a>
                          {% endfor %}
                        </div>
                      </li> -->
                  </ul>
                </div>
              </nav>

             <div class='insert'>
              <h3 style = "font-family:Exo;">Insert</h3>
              <form name='insert_data_config' enctype=multipart/form-data method='POST'>
                  <div class="form-group">
                      <label for="dbname" style="font-family:Exo;">Database name</label>
                      <!-- <input type="text" name='dbname' class="form-control" id="dbname" style="font-family:Exo;" placeholder="Name"> -->
                      <select name="dbname">
                        {% for dbname in all_dbs %}
                        <option id = "dbname" value='{{dbname[0]}}'>{{dbname[0]}}</option>
                        {% endfor %}
                    </select>
                      <small id="smiles" class="form-text text-muted" style="font-family:Exo;">Enter the name of the database you want to insert to.</small>
                    </div>
                <div class="form-group">
                        <label for="smiles" style="font-family:Exo;">SMILES</label>
                        <input type="text" name='smiles' class="form-control" id="smi" style="font-family:Exo;" placeholder="SMILES">
                        <small id="smiles" class="form-text text-muted" style="font-family:Exo;">Enter name/header of the smiles column in your data (csv) file.</small>
                      </div>
                      <div class="form-group">
                        <label for="Username" style="font-family:Exo;">Molecule Identifier</label>
                        <input type="text" name='molecule_identifier' class="form-control" id="molecule_identifier" style="font-family:Exo;" placeholder="molecule_identifier" >
                        <small id="MIhelp" class="form-text text-muted" style="font-family:Exo;">Enter the name/header of any other molecule identifier in your data (csv) file.</small>
                      </div>
                    <div class="form-group" style="font-family:Exo;">
                      <label for='config_file_label'>Enter the config file (csv). The property names should be the same as the column headers in your data (csv) file</label>
                      <input name='config_file' type="file" id="config_file">
                    </div>
                    <div class="form-group" style="font-family:Exo;">
                      <label for="data_file_label">Data file (csv)</label>
                      <input name='data_file' type="file" id="data_file">
                    </div>
                    <button type="submit" name="upload_data" value="Upload" class="btn btn-primary" style="background-color:#005bbb;color:#ffffff;font-family:Exo;" >Upload</button>
            </form>
            
            {% if err_msg %}
            <div class="alert alert-danger" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-family:Exo;">×</a>
                  {{err_msg}}
                </div>
            {% endif %}
            {% if success_msg %}
            <div class="alert alert-success" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-family:Exo;">×</a>
                  {{success_msg}}
                </div>
                {% endif %}
        </div>
        </body>
            </html>

