<html lang="en">

<head>
    <!-- website name -->
    <title>Chembddb-Search</title>
    <!-- website heading -->
    <!-- <h2><b><font size='8'>{{title}}</font> </b></h2> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <script>
        function get_value(){
            var val=document.getElementById('dbname').value;
            return val;
        }
    </script>
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link">Connect</a>
                        </li>
                    <li class="nav-item active">
                      <a class="nav-link" href='/setup' target='_blank'>Create </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href='/insert' target='_blank'>Insert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Search<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link">Result</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          All Databases
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {% for adbs in all_dbs %}
                          <a class="dropdown-item" href="#">{{adbs[0]}}</a>
                          {% endfor %}
                        </div>
                      </li>
                  </ul>
                </div>
              </nav>

              <div class="setup">
                    <meta charset="UTF-8">
                    <h3>Search</h3>
                            <form name='dbname' method='POST'>
                            <div class="form-group">
                                    <label for="dbname">Enter database name and select option:</label>
                                    <input type="text" name='dbname' class="form-control" id="dbname" value='{{dbname}}' placeholder="Name">
                            </div>
                            <button type="create" name='create' class="btn btn-primary" onclick="window.open('/search_db<'+get_value()+'>','_blank')">Search</button>
                            </form>
                          {% if err_msg %}
                          <div class="alert alert-danger" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                {{err_msg}}
                              </div>
                          {% endif %}
                          {% if success_msg %}
                          <div class="alert alert-success" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                {{success_msg}}
                              </div>
                          {% endif %}
                          
</body>
</html>