<html lang="en">

<head>
    <!-- website name -->
    <title>Chembddb-Create</title>
    <!-- website heading -->
    <!-- <h2><b><font size='8'>{{title}}</font> </b></h2> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <script>
        function get_value(){
            var val=document.getElementById('dbname').value;
            return val;
        }
    </script>
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #005bbb;height:80px;">

                <div class="collapse navbar-collapse" id="navbarNav">
                  <a href='/'>
                    <img src='../static/chembddb_logo.png' alt='logo' style='width:130px;background-color:#ffffff;float: right;
                    height: 80px;'>
                  </a>
                  <ul class="navbar-nav" style="margin-top: 15px;">
                      <li class="nav-item">
                          <a class="nav-link" style="color:#ffffff;font-family:Exo;">Connect</a>
                        </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="color:#ffffff;font-family:Exo;" >Create <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href='/temp_insert' style="color:#ffffff;font-family:Exo;" target='_blank'>Insert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/search' style="color:#ffffff;font-family:Exo;" target='_blank'>Search</a>
                    </li>
                    
                    <li class="nav-item">
                            <a class="nav-link" style="color:#ffffff;font-family:Exo;" >Result</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href='/delete' style="color:#ffffff;font-family:Exo;" target='_blank'>Delete</a>
                  </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#ffffff;font-family:Exo;" >
                          All Databases
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {% for adbs in all_dbs %}
                          <a class="dropdown-item" style="font-family:Exo;" href="#">{{adbs[0]}}</a>
                          {% endfor %}
                        </div>
                      </li>
                  </ul>
                </div>
              </nav>

              <div class="setup">
                    <meta charset="UTF-8">
                    <h3 style="font-family:Exo;">Setup</h3>
                            <form name='dbname' method='POST'>
                            <div class="form-group">
                                    <label for="dbname" style="font-family:Exo;">Enter database name and select option:</label>
                                    <input type="text" name='dbname' class="form-control" id="dbname" value='{{dbname}}' style="font-family:Exo;" placeholder="Name">
                            </div>
                            <button type="create" name='create' class="btn btn-primary" action="http://localhost:5000/setup" style="background-color:#005bbb;color:#ffffff;font-family:Exo;" >Create</button>
                            </form>
                          {% if err_msg %}
                          <div class="alert alert-danger" role="alert">
                                <a href="#" class="close" data-dismiss="alert" style="font-family:Exo;" aria-label="close">×</a>
                                {{err_msg}}
                              </div>
                          {% endif %}
                          {% if success_msg %}
                          <div class="alert alert-success" role="alert">
                                <a href="#" class="close" data-dismiss="alert" style="font-family:Exo;"aria-label="close">×</a>
                                {{success_msg}}
                              </div>
                          {% endif %}
                          
</body>
</html>