<html lang="en">

<div class='head'>
<head>
    <!-- website name -->
    <title>Chembddb-Insert</title>
    <!-- website heading -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
<script>
 $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })

function enterunit(n){
  console.log($(n).val())
  if($(n).val() == 'Other'){
    id = $(n).attr('id');
    id = id.slice(-1,);
    now = '#centralModalSm_'+id;
    console.log(now)
    $(now).modal('show');
  }
}
function setval(p){
  //hide the modal on click of continue
  mod = '#centralModalSm_'+p
  $(mod).modal('hide');
  console.log('setval')
  console.log(p)
  //get the value of user entered unit and conversion factor
  newval = $(document.getElementById('new_unit_'+p)).val()
  console.log(newval)
  newconvertor = $(document.getElementById('conversion_factor_'+p)).val()
  newstr = newval +','+newconvertor
  console.log(newstr)
  //replacing other column from dropdown to the user entered unit
  $('#other_'+p).val(newstr).change()
  $('#other_'+p).text(newval).change()
}
function removeRow(n){
  console.log('here')
  var tr = n.parentNode.parentNode;
  tr.parentNode.removeChild(tr);
}
function addRow(n){
  console.log('adding row')
  console.log(n)
  allprevselected = []
  var id = n + 1
  $('select.properties').each(function() { //Loop all existing selects
          //printing previously selected value 
          allprevselected.push($(this).val())
          console.log('logging inside ad rows')
          console.log($(this).val())
        });
  console.log(allprevselected)
  var col = '{{props}}'
  var col_elems = $("<div/>").html(col).text();

  col_elems = col_elems.replace("[",'')
  col_elems = col_elems.replace("]",'')
  col_elems = col_elems.replace(/'/g,'')
  col_elems = col_elems.split(", ")
  console.log(col_elems)
  diff_cols = $(col_elems).not(allprevselected).get()

  var str = '<tr><td> <select id='+id+' class=properties name="prop_id_' + id + '">'
  str = str + '<option id="cols_0" value="cols_0">Select column name</option>'
  var i;
  for (i = 0; i < diff_cols.length; i++) {
    str = str + '<option id="cols_'+diff_cols[i]+'" name="cols_'+diff_cols[i]+'" value="'+diff_cols[i] +'">'+ diff_cols[i] +'</option>'
  }
  //str = str + '{% for prop in props %} <option id="cols_{{prop}}" name="cols_{{prop}}" value="{{prop}}">{{prop}} </option> {% endfor %} '
  str = str + '</select></td><td><input name="2_prop" type="text" value="na"></td>'
  str = str + '<td><select id="type" class=prop_type name="prop_type_0"><option id="sel_0" value="select_type">Select if the property is of the following type</option><option id="energy" value="energy" >Energy</option><option id="sol" value="sol">Solubility Parameter</option></select></td>'
  str = str + '<td> <input id=add_'+id+' name="addrow" class="addbutton" type="button" onclick="addRow('+id+')" value="Add Row" style="background-color:#005bbb;color:#ffffff;font-family:Exo;" disabled></td>'
  //str = str + '<td> <input id=remove_'+id+' name="removerow" class="removebutton" type="button" onclick="removeRow(this)" value="Remove Row"></td>'
  $('#md').append(str)
  console.log(id)
  var add = 'add_'+n
  document.getElementById(add).disabled=true
}
$(document).ready(function (){

var selectedIdentifiers = []
diff_cols = '{{cols}}'
var col = '{{cols}}'
var col_elems = $("<div/>").html(col).text();

col_elems = col_elems.replace("[",'')
col_elems = col_elems.replace("]",'')
col_elems = col_elems.replace(/'/g,'')
col_elems = col_elems.split(", ")
console.log(col_elems)

//this function is to disable the menu options already selected, for ex: if smiles is selected in one dropdwon, disable it in the following dropdowns 
//it also disables the select dropdown at the end after having made the selection
$("select.molIdentifier").change(function () { //When any select changes...
    var val = ''
    var changedID = $(this).attr("id"); //Save id of select that was changed...
    var selectedValue = $(this).val(); //Save value of select was changed...
    selectedIdentifiers.push(selectedValue)
    if($(this).val() != "cols_0") { //If we did not select the first value...
        $('select.molIdentifier').each(function() { //Loop all existing selects
            if($(this).attr("id") != changedID) { //If the select id is not our own select
                $("#" + $(this).attr("id") + " option").each(function() { //loop all options of all selects except the one excluded by previous if clause
                    if($(this).attr("value") == selectedValue) { //if the value matches to saved value
                        val = $(this).attr("value")
                        $(this).prop("disabled", true); //Disable this one

                    }
                });
            }
        });
    };
    var str = ''
    str+='<input type="hidden" name =hidden_'+ $(this).attr("name") + ' value=' + val +'>'
    $('#config').append(str);
    this.disabled = true
});
//$("select.properties").change(function () { //When any select changes...

$("#md").on('click','select',function () { 
    console.log('here')
    var val = ''
    allprevselected = []
    var changedID = $(this).attr("id"); //Save id of select that was changed...
    var selectedValue = $(this).val(); //Save value of select was changed...
    console.log(selectedValue)
    console.log(changedID)
    //selectedIdentifiers.push(selectedValue)
    if($(this).val() != "cols_0") { //If we did not select the first value...
        $('select.properties').each(function() { //Loop all existing selects
          //printing previously selected value 
          if($(this).attr("id") != changedID){
          allprevselected.push($(this).val())
          console.log($(this).val())
          }
        });

        $('select.properties').each(function() {
          if($(this).attr("id") == changedID){
            $("#" + $(this).attr("id") + " option").each(function() {
              if(allprevselected.includes($(this).attr("value"))) {
                  val = $(this).attr("value")
                  console.log(val)
                  $(this).prop("disabled", true); //Disable this one
              }
            
            });
          }
        });
       
    };
    //this.disabled = true
});

$("#md").on('change','select',function () { 
    var str = ''
    this.disabled = true
    id = this.id
    prop = 'prop_id_'+id
    str+='<input type="hidden" name=hidden_prop_id_'+ id + ' value="' + document.getElementById(id).value+'">'
    console.log(str)
    $('#md').append(str)
    add = 'add_'+id
    document.getElementById(add).disabled=false
})
});

</script>
</head>

</div>
<body> 
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #005bbb;height:80px">

                <div class="collapse navbar-collapse" id="navbarNav">
                  <a href='/'>
                    <img src='../static/chembddb_logo.png' alt='logo' style='width:130px;background-color:#ffffff;float: right;
                    height: 80px;'>
                  </a>
                  <ul class="navbar-nav" style="margin-top: 15px;">
                    <li class="nav-item ">
                      <a class="nav-link" style="color:#ffffff;font-family:Exo;" >Connect </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/setup' style="color:#ffffff;font-family:Exo;" target='_blank'>Create</a>
                      </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="color:#ffffff;font-family:Exo;" >Insert <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href='/search' style="color:#ffffff;font-family:Exo;" target='_blank'>Search  </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href='/delete' style="color:#ffffff;font-family:Exo;" target='_blank'>Delete</a>
                  </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#ffffff;font-family:Exo;" >
                          All Databases
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {% for adbs in all_dbs %}
                          <a class="dropdown-item" style="font-family:Exo;" href="#">{{adbs[0]}}</a>
                          {% endfor %}
                        </div>
                      </li> -->
                  </ul>
                </div>
              </nav>
             <div class='insert'>
              <h3 style = "font-family:Exo;">Insert</h3>
              {% if init %}
                  <form name='insert_data_config' enctype=multipart/form-data method='POST'>
                    <div class="form-group">
                      <table class="table table-bordered" border="0" style="align-content:center;font-family: Exo;">
                      <col width="240">
                      <col width="240">
                      <col width="240">
                      <tr>
                        <td>
                          <label for="dbname" style="font-family:Exo;">Database name</label>
                          <!-- <input type="text" name='dbname' class="form-control" id="dbname" style="font-family:Exo;" placeholder="Name"> -->
                          <select name="dbname">
                            {% for dbname in all_dbs %}
                            <option id = "dbname" value='{{dbname[0]}}'>{{dbname[0]}}</option>
                            {% endfor %}
                        </select>
                          <small id="smiles" class="form-text text-muted" style="font-family:Exo;">Enter the name of the database you want to insert to.</small>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-group" style="font-family:Exo;">
                            <label for="data_file_label">Data file (csv)</label>
                            <input name='data_file' type="file" id="data_file">
                          </div>
                          <button type="submit" name="upload_data" value="Upload" class="btn btn-primary" style="background-color:#005bbb;color:#ffffff;font-family:Exo;" >Upload</button>
                        </td>
                      </tr>
                      </table>
                      </div>
                </form>              
              {% endif %}
              <form id = "config" name="config" action="" method="POST">
              {% if data_validated %}

              <h4 style = "font-family:Exo;">Step 1: Molecule Identifiers</h4>
              <h5 style = "font-family:Exo;">Select columns from your file which represent molecule identifiers</h5>

              <div class='row'>
                <div class='col col-lg-6'>
                <table class="table table-bordered" border="0" style="align-content:center;font-family:Exo;">
                <col width="240">
                <col width="240">
                <col width="240">
                {% for mol_ident in ['SMILES','Std_InChI','Std_InChI_Key','IUPAC_name','Other_name','CAS_registry_no','Chemical_formula'] %}
                <tr>
                        <td><input id='1' type ="checkbox" name="{{mol_ident}}col" value={{mol_ident}} onclick="document.getElementById('{{mol_ident}}_id').disabled=!this.checked;">&nbsp;&nbsp;{{mol_ident}}
                        </td>
                        <td>
                            <select id ="{{mol_ident}}_id" class= molIdentifier name= "{{mol_ident}}_id" disabled>
                                <option id="cols_0" value="cols_0">Select column name</option>
                                {% for c in cols %}
                                    <option id="cols_{{c}}" name = "cols_{{c}}" value="{{c}}"> {{c}} </option>
                                {% endfor %}
                            </select>
                        </td>
                </tr>
     
                {% endfor %}
                <tr>
                  <td colspan="2">
                    <button type="button" class="btn btn-primary" style="background-color:#005bbb;color:#ffffff;font-family:Exo;" onClick="window.location.reload();" >Reset</button>
                    <button type='submit' name='config' method='POST'class="btn btn-primary" style="background-color:#005bbb;color:#ffffff;font-family:Exo;"> Proceed to Step 2: Properties </button>
                    {% if conf %}
                    <button type='submit' name='use-config' method='POST' class="btn btn-primary" style="background-color:#005bbb;color:#ffffff;font-family:EXO;">Use last configuration for step 2</button>
                  {% endif %}
                   </td>
                </tr>
            </table>
            </form>
          </div>
          <div class='col col-lg-6'>
            {% if snapshot != False %}
            <table class='table table-bordered' border='0' style='align-content: center;font-family: Exo;table-layout: fixed; width:100%'>
              <h4 class="text-center" style="font-family: Exo;" >List of molecule identifiers, properties, and method-related meta-data in your database at this moment</h4>
              {% for i in range(6) %}
              <tr>
                {% if snapshot[i][0] != ''%}
              <th>{{snapshot_cols[i]}}</th>
              <td>
              {% for j in snapshot[i] %}
                  {{j}},
              {% endfor %}
              </td>
              {% endif %}
            </tr>
            {% endfor %}
            </table>
          </div>
        </div>
            {% endif %}
          {% endif %}
            {% if props %}
            <form name='meta-data' id='meta-data' method='POST'>
              <h4 style = "font-family:Exo;">Step 2: Properties</h4>
              <h5 style = "font-family:Exo;">Select columns from your file which represent the properties you want to enter into the database</h5>
              <table id="md" class="table table-bordered" border="0" style="align-content:center;font-family:Exo;">
                <col width="240">
                <col width="240">
            {% if not conf_flag %}
                <tr>
                  <td>
                  <h5 style = "font-family:Exo;">Column Name</h5>
                  </td>
                  <td>
                  <h5 style = "font-family:Exo;">Property Name</h5>
                  </td>
                  <td>
                    <h5 style = "font-family:Exo;">Property Type</h5>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                  <select id="0" class=properties name= "prop_id_0">
                      <option id="cols_0" value="cols_0">Select column name</option>
                      {% for prop in props %}
                          <option id="cols_{{prop}}" name = "cols_{{prop}}" value="{{prop}}"> {{prop}} </option>
                      {% endfor %}
                  </select>
                  </td>
                  <td>
                    <input name="2_prop" type="text" value="na" placeholder="na">
                  </td>
                  <td>
                    <select id='type' class=prop_type name='prop_type_0'>
                    <option id='sel_0' value='select_type'>Select if the property is of the following type</option>
                    <option id='energy' value='energy' >Energy</option>
                    <option id='sol' value='sol'>Solubility Parameter</option>
                    <option id='ratio' value='ratio'>Ratio</option>
                  </select>
                  </td>
                  <td>
                    <input id="add_0" name="addrow" class="addbutton" type="button" onclick="addRow(0)" style="background-color:#005bbb;color:#ffffff;font-family:Exo;" value="Add Row" disabled>
                  </td>
                </tr>
            {% else %}
                {% for i in range(l) %}
                <tr>
                  <td>
                    <select id="0" class=properties name= "prop_id_0">
                      <!--<option id="prop1" value="{{properties[i]}}" selected>{{properties[i]}}</option>-->
                      {% for prop in props %}
                      {% if prop == properties[i]%}
                      <option id="cols_{{prop}}" name = "cols_{{prop}}" value="{{prop}}" selected> {{prop}} </option>
                      {% else %}
                          <option id="cols_{{prop}}" name = "cols_{{prop}}" value="{{prop}}"> {{prop}} </option>
                      {% endif %}
                      {% endfor %}

                  </select>
                  </td>
                  <td>
                    <input name="2_prop" type="text" readonly="readonly" value={{properties[i]}}>
                  </td>
                  <td>
                    <input name="2_unit" type="text" readonly="readonly" value="{{unit[i]}}">
                  </td>
                  <td>
                    <input name="2_method" type="text" readonly="readonly" value="{{methods[i]}}">
                  </td>
                  <td>
                    <input name="2_functional" type="text" readonly="readonly" value="{{functional[i]}}">

                  </td>
                  <td>
                    <input name="2_basis" type="text" readonly="readonly" value="{{basis[i]}}">
                  </td>
                  <td> 
                    <input name="2_forcefield" type="text" readonly="readonly" value="{{forcefield[i]}}">
                  </td>
                  <!--{% if i+1==l %}
                  <td>
                    <input id="add_0" name="addrow" class="addbutton" type="button" onclick="addRow(0)" style="background-color:#005bbb;color:#ffffff;font-family:Exo;"value="Add Row">
                  </td>
                  {% else %}
                  <td>
                    <input type="button" onclick="removeRow(this)" value="Remove Row" style="background-color:#005bbb;color:#ffffff;font-family:Exo;">
                  </td>
                  {% endif %}-->
                </tr>
                {% endfor %}
                <!-- conf -->
                {% endif %}
            </table>
            <td colspan="3">
              <button type='submit' name='meta-data' method='POST'class="btn btn-primary" style="background-color:#005bbb;color:#ffffff;font-family:Exo;"> Proceed to step 3: Meta Data </button>
              <button type="button" class="btn btn-primary" style="background-color:#005bbb;color:#ffffff;font-family:Exo;" onClick="window.location.reload();" >Reset</button>
              <!--<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Save this configuration of meta data in case you want to use it again while entering fresh data values for these properties to this database">-->
              <!--<button type="submit" name='download-submit' method = 'POST' class='btn btn-primary' style="background-color:#005bbb;color:#ffffff;font-family:Exo;"><i class="glyphicon glyphicon-info-sign"></i>&nbsp Save configuration & submit</button></span>-->
            </td>
            </form>
            <!-- prop -->
            {% endif %} 
            {% if units %}
            <h4 style = "font-family:Exo;">Step 3: Meta Data</h4>
            <h5 style = "font-family:Exo;">Enter the meta data and select the units that you are entering the properties in.</h5>
            <form name="final_md" id = final_md method="POST">
              <table class = 'table table-bordered' border='0' style='align-content: center; font-family: Exo;'>
                <col width="240">
                <col width="240">
                <col width="240">
                <col width="240">
                <col width="240">
                <tr>
                  <td>
                  <h5 style = "font-family:Exo;">Property</h5>
                  </td>
                  <td>
                    <h5 style = "font-family:Exo;">Unit</h5>
                  </td>
                  <td>
                    <h5 style = "font-family:Exo;">Method</h5>
                  </td>
                  <td>
                    <h5 style = "font-family:Exo;">Functional</h5>
                  </td>
                  <td>
                    <h5 style = "font-family:Exo;">Basis Set</h5>
                  </td>
                  <td> 
                    <h5 style = "font-family:Exo;">Forcefield</h5>
                  </td>
                </tr>
                  {% for p in range(prop_length) %}
                <tr>
                  <td>
                    <input name="2_prop" type="text" value={{properties[p]}} disabled>
                  </td>
                  <td>
                    
                    <select id="unit_{{p}}" class=units name= "unit_id_0" onchange="enterunit(this)">
                      {% if unit_list[p] == [''] %}
                      <option id="select" name="select" value="select" > Click other to enter your unit</option>
                      {% else %}
                      {% for u in unit_list[p] %}
                          <option id="cols_{{u}}" name = "cols_{{u}}" value="{{u}}"> {{u}} </option>
                      {% endfor %}
                      {% endif %}
                      <option id='other_{{p}}' name='other' value="Other">Other</option>
                  </select>
                                                                    <!-- Central Modal Small -->
                                                                    <div class="modal fade" id="centralModalSm_{{p}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop ="static" data-keyboard="False" aria-hidden="true">
                                                                      <div class="modal-dialog" role="document">
                                                                        <!--Content-->
                                                                        <div class="modal-content">
                                                                          <!--Header-->
                                                                          <div class="modal-header">
                                                                            <h4 class="modal-title w-100" id="myModalLabel">Enter your unit and its conversion factor with {{u}}</h4>
                                                                          </div>
                                                                          <!--Body-->
                                                                          <div class="modal-body">
                                                                            <table class="table table-bordered" border='0' style='align-content: center; font-family: Exo;'>
                                                                            <tr>
                                                                              <th>
                                                                                Unit Name
                                                                              </th>
                                                                              <th>
                                                                                Conversion Factor with the default unit
                                                                              </th>
                                                                            </tr>
                                                                            <td>
                                                                              <input type="text" id="new_unit_{{p}}" placeholder="Enter new unit">
                                                                            </td>
                                                                            <td>
                                                                              <input type="text" id="conversion_factor_{{p}}" placeholder="Enter conversion factor">
                                                                            </td>
                                                                            </table> 
                                                                          </div>
                                                                          <!--Footer-->
                                                                          <div class="modal-footer">
                                                                            <button type="button" name="unit-submitted" class="btn btn-primary btn-sm" style="background-color:#005bbb;color:#ffffff;font-family:Exo;" 
                                                                            onclick="setval({{p}})">Continue</button>
                                                                          </div>
                                                                        </div>
                                                                        <!--/.Content-->
                                                                      </div>
                                                                    </div>
                                                                    <!-- Central Modal Small -->
                  </td>
                  <td>
                    <input name="2_method" type="text" value="na" placeholder="na">
                  </td>
                  <td>
                    <input name="2_functional" type="text" value="na" placeholder="na">

                  </td>
                  <td>
                    <input name="2_basis" type="text" value="na" placeholder="na">
                  </td>
                  <td> 
                    <input name="2_forcefield" type="text" value="na" placeholder="na">
                  </td>
                </tr>
                  {% endfor %}
                <tr>
                  <td colspan="6">
                    <button type='submit' name='meta-unit' method='POST'class="btn btn-primary" style="background-color:#005bbb;color:#ffffff;font-family:Exo;"> Submit</button>
                  </td>
                </tr>
              
              </table>

            </form>
            {% endif %}
            {% if props or units%}
            {% if snapshot != False %}
            <table class='table table-bordered' border='0' style='align-content: center;font-family: Exo;'>
              <col width="240">
              <col width="240">
              <col width="240">
              <h4 class="text-center" style="font-family: Exo;" >List of molecule identifiers, properties, and method-related meta-data in your database at this moment</h4>
              {% for i in range(6) %}
              <tr>
                {% if snapshot[i][0] != ''%}
              <th>{{snapshot_cols[i]}}</th>
              <td>
              {% for j in snapshot[i] %}
                  {{j}},
              {% endfor %}
              </td>
              {% endif %}
            </tr>

              {% endfor %}
            </table>
            {% endif %}
            {% endif %}
            {% if err_msg %}
            <div class="alert alert-danger" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-family:Exo;">×</a>
                  {{err_msg}}
                </div>
            {% endif %}
            {% if success_msg %}
            <div class="alert alert-success" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-family:Exo;">×</a>
                  {{success_msg}}
                </div>
                {% endif %}
        </div>
        </body>
            </html>

